/* *********************************************************
 * Add all site functions here 
 * and add them to both the scripts.js and editor.js files
 * - Only init barba on front-end script (not editor.js)
 *   so be sure to add any new functionality to both files
 * ********************************************************* */
// Sitewide Init Functions
initCartDrawer();
initNavigation();

/* ***********************
 * Sitewide Functions
 * *********************** */
function initNavigation() {
  // Enable sticky nav
  if (document.querySelector('.site-header').classList.contains('is-sticky')) {
    ScrollTrigger.create({
      trigger: ".site-header",
      pin: ".site-header",
      start: "top",
      end: 99999,
      // markers: true,
    });
  }
};



function initCartDrawer() {
  /*
  axios.get('/cart.js')
  .then((res) => {
    console.log('INIT CART', res.data);
  });
  */

  // Opens Cart
  document.querySelector('.js-open-cart').addEventListener('click', function(e) {
    e.preventDefault();
    document.querySelector('.cart-drawer').classList.add = 'active';
    gsap.to('.cart-drawer', 0.35, {autoAlpha: 1, opacity: 1, display: 'flex' }); // this also fires in updatecartdrawerui function (need to combine)
  });

  // Closes Cart
  document.querySelector('.js-close-cart').addEventListener('click', function(e) {
    e.preventDefault();
    document.querySelector('.cart-drawer').classList.remove('active');
    gsap.to('.cart-drawer', 0.35, {autoAlpha: 0, opacity: 0, display: 'none'});
  });

  // Removes item from cart drawer list (WIP)
};

// Allows WP Links to operate normally
// document.querySelectorAll("#wpadminbar a").forEach(item=>item.setAttribute('data-barba-prevent','self'));

/* ********************************
 * Pagewide Init Functions
 * ******************************** */
var initSingleProduct = function() {
  console.log('on product page');
  initProductForm();
};

var initCartPage = function() {
  console.log('on cart page');

  bindCartControls();
};

var initContactPage = function() {
  console.log('on contact page');
};

var initCollectionPage = function() {
  console.log('on collection page');

  Shopify.queryParams = {};

  // Preserve existing query parameters
  if (location.search.length) {
      var params = location.search.substr(1).split('&');

      for (var i = 0; i < params.length; i++) {
        var keyValue = params[i].split('=');

        if (keyValue.length) {
          Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
        }
      }
  }

  // Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function(e) {
    var value = e.target.value;

    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
};

/* ********************************
 * Single Purpose Functions
 * ******************************** */
/* Single Product Page Functions */
function initProductForm() {
  // update variant UI 
  bindVariantOptions();
  // Bind quantity +/- controls
  bindQuantityCount();
  // bind gallery/thumbnail clicks
  bindGalleryControls();
  // custom add to cart form submit
  addToCart();
}

function bindQuantityCount() {
    console.log('bindQuantityCount');
    const addButtons = document.querySelectorAll('.js-add');
    addButtons.forEach(function (addButton) {
      addButton.addEventListener('click', function () {
        const th = this.closest('.sp-option').querySelector('.quantity__input');
        th.value = parseInt(th.value) + 1;
      });
    });

    const subButtons = document.querySelectorAll('.js-sub');
    subButtons.forEach(function (subButton) {
      subButton.addEventListener('click', function () {
        const th = this.closest('.sp-option').querySelector('.quantity__input');
        if (parseInt(th.value) > 1) th.value = parseInt(th.value) - 1;
      });
    });
};

function bindVariantOptions() {
  var productURL = document.querySelector('.single-product').dataset.producturl;

  fetch(productURL + '.js')
  .then(response => response.json())
  .then(product => {
    // Your code that uses the product data goes here
    // console.log(product);
    document.querySelectorAll('.sp-option input[type="radio"]').forEach(radio => {
      radio.addEventListener('change', () => {
        // find selected options
        var selectedOptions = [];

        document.querySelectorAll('.sp-option input[type="radio"]:checked').forEach(radio => {
          selectedOptions.push(radio.value)
        });

        // finding matched variant
        var matchedVariant = product.variants.find(variant => {
          var pass = true;

          for (var i = 0; i < selectedOptions.length; i++) {
            if (selectedOptions.indexOf(variant.options[i]) === -1) {
              pass = false;
              break;
            }
          }

          return pass;
        })

        console.log('new product', matchedVariant);

        // change hidden input
        document.querySelector('#productId').value = matchedVariant.id;

        // change url
        var url = new URLParse(window.location.href, true);
        url.query.variant = matchedVariant.id;
        window.history.replaceState(null, null, url.toString());

        // change price
        const format = document.querySelector('[data-moneyformat]').getAttribute('data-moneyformat');

        document.querySelector('.sp-price').textContent = formatMoney(matchedVariant.price, format);
        document.querySelector('.sp-compare-price').textContent = formatMoney(matchedVariant.compare_at_price, format);

        // toggle price classes
        matchedVariant.compare_at_price > matchedVariant.price ? 
          document.querySelector('.sp-compare-price').classList.remove('hidden') : 
          document.querySelector('.sp-compare-price').classList.add('hidden')

        // change image
        if (matchedVariant.featured_image) {
          document.querySelector('#productImage').setAttribute('src', matchedVariant.featured_image.src);
          document.querySelector('.sp-gallery-thumbs li.active').classList.remove('active');
          document.querySelectorAll('.sp-gallery-thumbs li')[matchedVariant.featured_image.position - 1].classList.add('active');
        }

        // change button
        var addToCartBtn = document.querySelector('#addToCartBtn');
        var buyItNowBtn = document.querySelector('#buyItNowBtn');

        if (matchedVariant.available) {
          // set add to cart button text
          addToCartBtn.textContent = 'Add to Cart';

          if (buyItNowBtn) {
            buyItNowBtn.classList.remove('hidden');
          }

          // enable form fields 
          disableProductFormField(false);

          document.querySelectorAll('.sp-option input[type="radio"]:checked').forEach(radio => {
          selectedOptions.push(radio.value)
        });
        } else {
          // set add to cart button text
          addToCartBtn.textContent = 'Sold Out';
          if (buyItNowBtn) {
            buyItNowBtn.classList.add('hidden');
          }

          // disable form fields
          disableProductFormField(true);
        }

        // buy it now
        if (buyItNowBtn) {
          buyItNowBtn.addEventListener('click', (e) => {
            e.preventDefault();

            var form = document.querySelector('.shopify-product-form');

            var input = document.createElement('input');
            input.value = '/checkout';
            input.type = 'hidden';
            input.name = 'return_to';

            form.appendChild(input);

            form.submit();
          });
        }
      });
    });
  })
  .catch(error => {
    console.error('Error fetching product data:', error);
  });
};

function disableProductFormField(state) {
  document.querySelectorAll('.js-disable-field').forEach(input => {
    input.disabled = state;
  });
}

function addToCart() {
  document.querySelector('.shopify-product-form').addEventListener('submit', (e) => {
    // prevent form submission
    e.preventDefault();
    // disable buttons to prevent multiple submission
    disableProductFormField(true);
    
    // get the cart obj
    axios.get('/cart.js')
    .then((res) => {
      // get product going to cart's id
      var newItemID = document.querySelector('#productId').value;
      // get quantity in form
      var quantityInput = document.querySelector('#quantity').value;

      // check if product already exists in cart
      var obj = res.data.items.find(element => element.id === parseInt(newItemID));

      if (obj) {
        // increase quantity
        let quantity = obj.quantity + parseInt(quantityInput);
        
        axios.post('/cart/change.js', {
          id: obj.key,
          quantity
        })
        .then((res) => {
          axios.get('/cart.js')
          .then((res) => {
            // get updated obj
            var newitem = res.data.items.find(element => element.id === parseInt(newItemID));
            // update UI elements
            updateCartUI(newitem, res.data, true);
          });
        });
      } else {
        console.log('new item');
        axios.post('/cart/add.js', {
          id: newItemID,
          quantity: parseInt(quantityInput)
        })
        .then((res) => {
          let newitem = res.data;
          axios.get('/cart.js')
          .then((res) => {
            // update UI elements
            // updateCartDrawer(res.data);
            updateCartUI(newitem, res.data);
          });
          
        });
      }
      // enable buttons/allow resubmission
      disableProductFormField(false);
    });
  });
  /*
  document.querySelector('#addToCartBtn').addEventListener('click', (e) => {
    e.preventDefault();

    // console.log(document.querySelector('#productId').value);

    /*
    axios.get('/cart.js')
    .then((res) => {
      console.log('test get cart', res.data);
    });
    *

    axios.post('/cart/add.js', {
      id: document.querySelector('#productId').value,
      quantity: document.querySelector('#quantity').value
    })
    .then((res) => {
      // console.log('post success', res.data);
      // update cart drawer
      updateCartDrawer(res.data);
    });

    // alert('hi');


    /*
    axios.post('/cart/change.js', {
      id: key,
      quantity
    })
    .then((res) => {
      console.log(res.data);
    });
    
  });
  */
}

var bindGalleryControls = function() {
  document.querySelectorAll('.sp-gallery-thumbs li').forEach(li => {
    li.addEventListener('click', () => {
      document.querySelector('.sp-gallery-thumbs li.active').classList.remove('active');
      li.classList.add('active');

      document.querySelector('#productImage').src = li.querySelector('img').getAttribute('src');
    });
  });
};


/* Cart Functions */ 
var bindCartControls = function() {
  // cart-quantity-sector
  document.querySelectorAll('.cart-quantity-sector button').forEach(button => {
    button.addEventListener('click', (e) => {
      e.preventDefault(); // weird bug removes the item from cart when you interact with default

      const input = button.parentElement.querySelector('input');
      const value = Number(input.value);
      const isPlus = button.classList.contains('js-plus');
      const key = button.closest('.cart-item').getAttribute('data-key');
      
      console.log('key', key);
      if (isPlus) {
        const newValue = value + 1;
        input.value = newValue;
        changeItemQuantity(key, newValue);
      } else if (value > 1) {
        const newValue = value - 1;
        input.value = newValue;
        changeItemQuantity(key, newValue);
      }
    });
  });

  document.querySelectorAll('.js-remove-cart-item').forEach(remove => {
    remove.addEventListener('click', (e) => {
      e.preventDefault();

      const item = remove.closest('.cart-item');
      const key = item.getAttribute('data-key')

      axios.post('/cart/change.js', {
        id: key,
        quantity: 0
      })
      .then((res) => {
        console.log(res.data);

        if (res.data.items.length === 0) {
          document.querySelector('#cart_form').remove();
          var html = document.createElement('h4');
          html.innerHTML = 'Your Cart is empty';
          document.querySelector('.cart').appendChild(html);
        } else {
          item.remove();

          // update totals
          const totalDiscount = res.data.total_discount;
          const totalPrice = res.data.total_price;
          const format = document.querySelector('[data-moneyformat]').getAttribute('data-moneyformat');
          
          const cartTotalDiscountElement = document.querySelector('#cartTotalDiscount');
          if (cartTotalDiscountElement) {
            cartTotalDiscountElement.textContent = formatMoney(totalDiscount, format);
          }
          document.querySelector('#cartTotalPrice').textContent = formatMoney(totalPrice, format);
          console.log('.discount',totalDiscount);

          if (totalDiscount === 0) {
            document.querySelector('#cartTotalDiscount').parentElement.classList.add('hidden');
          }
        }
      });
    });
  });

  document.querySelector('[name="note"]').addEventListener('keyup', debounce((e) => {
    // console.log(e.target.value);
    axios.post('/cart/update.js', {
      note: e.target.value,
    });
  }, 500));
}

function changeItemQuantity(key, quantity) {
  // console.log(quantity, key);
  axios.post('/cart/change.js', {
    id: key,
    quantity
  })
  .then((res) => {
    console.log(res.data);
    const totalDiscount = res.data.total_discount;
    const totalPrice = res.data.total_price;
    const item = res.data.items.find(item => item.key === key);
    const itemPrice = item.final_line_price;
    const format = document.querySelector('[data-moneyformat]').getAttribute('data-moneyformat');
    const cartTotalDiscountElement = document.querySelector('#cartTotalDiscount');
    if (cartTotalDiscountElement) {
      cartTotalDiscountElement.textContent = formatMoney(totalDiscount, format);
    }

    document.querySelector('.js-drawer-count').textContent = res.data.item_count;
    document.querySelector('#cartTotalPrice').textContent = formatMoney(totalPrice, format);
    document.querySelector('[data-key="'+key+'"] .cart-price').textContent = formatMoney(itemPrice, format);
  });
}

function updateCartUI(newitem, cartobj, exists) {
  console.log('new item', newitem);
  console.log('latest cart', cartobj);
  // item id
  const newItemId = newitem.id;
  // moneyFormat
  const format = document.querySelector('[data-moneyformat]').getAttribute('data-moneyformat');
  // updated cart price
  var totalPrice = formatMoney(cartobj.total_price, format);
  // update cart count
  document.querySelectorAll('.js-drawer-count').forEach(counter => {
    counter.innerHTML = cartobj.item_count;
  });

  if (exists) {
    // find and update UI elements
    const cartDrawerItem = document.querySelectorAll('.cart-drawer-item').forEach(item => {
      const cartDrawerItemId = item.getAttribute('data-product-id');
      if (parseInt(cartDrawerItemId) === newItemId) {
        const obj = cartobj.items.find(element => element.id === newItemId);
        item.querySelector('.js-cart-item-quantity').innerHTML = obj.quantity, format;// quantity
        item.querySelector('.js-cart-item-price').innerHTML = formatMoney(obj.final_line_price, format);// final_line_price


      }
    });
  } else {
    // create the element and add it to top of cart. 
    const cartBody = document.querySelector('.cart-drawer__body');

    const productTitle = newitem.variant_title ? newitem.product_title + ' - ' + newitem.variant_title : newitem.product_title;

    let itemMarkup =  `
      <div class="cart-drawer-item js-set-fade-in" data-product-id="${newitem.id }" style="opacity: 0;">
        <div class="cart-drawer-item-img">
          <a href="${newitem.url}">
            <img src="${newitem.featured_image.url}"/>
          </a>
        </div>
        <div class="cart-drawer-item-info">
          <h4 class="cart-drawer-item-title"><a href="${newitem.url}">${productTitle} (<span class="js-cart-item-quantity">${newitem.quantity}</span>)</a></h4>
          <p class="cart-drawer-item-price">${totalPrice}</p>
        </div>
      </div>
    `;

    // Insert new HTML at the top of the existing element
    cartBody.insertAdjacentHTML('afterbegin', itemMarkup);

    gsap.to('.js-set-fade-in', 0.6, {opacity: 1, delay: 0.1});
  }
  
  // update total price
  document.querySelector('.js-cart-drawer-total').innerHTML = totalPrice;
  
  // open drawer if it's not already open
  const cartEl = document.querySelector('.cart-drawer');
  if (!cartEl.classList.contains('active')) {
    cartEl.classList.add('active');
    gsap.to('.cart-drawer', 0.35, {autoAlpha: 1, opacity: 1, display: 'flex' });
  }  
}


/* ********************************
 * Utility Functions
 * ******************************** */
// ---------------------------------------------------------------------------
// Money format handler
// ---------------------------------------------------------------------------
var formatMoney = function(cents, format) {
  if (typeof cents == 'string') { cents = cents.replace('.',''); }
  var value = '';
  var placeholderRegex = /\{\{\s*(\w+)\s*\}\}/;
  var formatString = (format || this.money_format);

  function defaultOption(opt, def) {
     return (typeof opt == 'undefined' ? def : opt);
  }

  function formatWithDelimiters(number, precision, thousands, decimal) {
    precision = defaultOption(precision, 2);
    thousands = defaultOption(thousands, ',');
    decimal   = defaultOption(decimal, '.');

    if (isNaN(number) || number == null) { return 0; }

    number = (number/100.0).toFixed(precision);

    var parts   = number.split('.'),
        dollars = parts[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1' + thousands),
        cents   = parts[1] ? (decimal + parts[1]) : '';

    return dollars + cents;
  }

  switch(formatString.match(placeholderRegex)[1]) {
    case 'amount':
      value = formatWithDelimiters(cents, 2);
      break;
    case 'amount_no_decimals':
      value = formatWithDelimiters(cents, 0);
      break;
    case 'amount_with_comma_separator':
      value = formatWithDelimiters(cents, 2, '.', ',');
      break;
    case 'amount_no_decimals_with_comma_separator':
      value = formatWithDelimiters(cents, 0, '.', ',');
      break;
  }

  return formatString.replace(placeholderRegex, value);
};

// David Walsh debounce: https://davidwalsh.name/javascript-debounce-function
function debounce(func, wait, immediate) {
  var timeout;
  return function() {
    var context = this, args = arguments;
    var later = function() {
      timeout = null;
      if (!immediate) func.apply(context, args);
    };
    var callNow = immediate && !timeout;
    clearTimeout(timeout);
    timeout = setTimeout(later, wait);
    if (callNow) func.apply(context, args);
  };
};